body {
  padding: 3rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 1.5rem;
}

.gallery-item {
  margin-top: 2.5rem;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-image .image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
